In [7]:
#ddG_binary classification

import pandas as pd

In [75]:
df_train = pd.read_csv('../src/ddg_bin_train.csv')
df_test = pd.read_csv('../src/ddg_bin_test.csv')
df_train.head(5)

,SecSt,ASA_pct,delta_MW,delta_Chg,delta_ARM,delta_Hydro,delta_VdwV,delta_SASA,ddG_calc,ddGC
0,1,18.92,1,-1.0,0.0,-0.208,-5,-7,0.861,unstable
1,2,0.94,-16,0.0,0.0,0.257,-6,-13,0.806,unstable
2,2,8.61,22,1.5,0.5,0.137,27,45,-4.583,stable
3,3,8.67,-43,0.0,0.0,0.380,-29,-46,1.564,unstable
4,2,4.92,-10,-0.5,0.0,-0.263,-38,-33,5.951,unstable

In [68]:
def return_array(df:pd.DataFrame):
    X = df.iloc[:,0:len(df.columns)-1].values
    y = pd.get_dummies(df['ddGC'])
    y = y['stable'].to_numpy()
    return X,y

In [78]:
X_train, y_train = return_array(df_train)
X_test, y_test = return_array(df_test)

# 0: unstable, 1: stable

95